@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Montserrar,sans-serif;
    text-decoration: none;
 
}
body{
    background-color: #000000;
    height:100vh;
}
li a button{
    
    font-weight: 500;
    color:#fff;
    text-decoration: none;
}
.logo{
    padding:10px 10px 0 0 ;
    cursor:pointer;
    height:80px;
    border-radius: 30px;
    
}
header{
    display: flex;
    justify-content:space-around;
    align-items:center;
    
}

.nav-link{
    list-style: none;
}
.nav-link li {
    display: inline-block;
    padding: 0 30px;
}
.nav-link li a{
    color:#fff;
    font-size: 18px;
}
.nav-link li a:hover{
    color: #6DECB9;
}
button{
    padding: 9px 25px;
    color:#eee;
    background-color: #7ECA9C;
    cursor: pointer;
    border-radius: 30px;
    border: none;
}
button:hover{
    color:#6DECB9;
    background-color: #eee;
}
main{
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.content-left{
    width:40%;
}
.content-left button{
    margin:20px 0px 0 0;
}
.content-left h1{
    color:#7ECA9C;
}
.content-left h2{
    color:#7E97A6;
    padding: 20px 0;
}
.content-left p{
  color:#fff; 
  line-height:2.5;
}

.content-right img{
    height:30rem;
    max-width: 570px;
    padding: 15px 0;
    border:none;
    border-radius: 40px;
    

}
.hamburger {
    display: none;
    cursor: pointer;
    padding: 10px 35px;
    background-color: transparent;
    border: none;
    
  }
  
  .hamburger-box {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 16px;
  }
  
  .hamburger-inner {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #6DECB9;
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }
  
  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #6DECB9;
    border-radius: 4px;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }
  
  .hamburger-inner::before {
    top: -6px;
  }
  
  .hamburger-inner::after {
    bottom: -6px;
  }
  .abt-heading{
    color: #7ECA9C;
    text-align: center;
    padding: 30px;
    font-size: xx-large;
    margin-top: 45px;
  }
  .abt-content{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
  }
  .abt-para{
    width:45%;
    font-size: 20px;
    line-height:2.5;
    color:#eee;
  }
  .abt-content img{
    height: 30rem;
    max-width: 570px;
   border-radius: 50px;
  }
  .services{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 4rem;
  }
  .services-heading{
    color:#7ECA9C;
    text-align: center;
    font-size: xx-large;
    
  }
  .services h1{
    margin-bottom: 10px;
    margin-top: 20px;
  }
 
  .first-card{
    margin-left: 10rem;
    color:#eee;
    width:30%;
    background-color: #6DECB9;
    
  }
 
  .second-card{
    color:#eee;
    margin-left: 5rem;
    margin-right: 5rem;
    width: 30%;
    background-color: #6DECB9;
  }
 
  .third-card{
    color:#eee;
    margin-right: 5rem;
    width:30%;
    background-color: #6DECB9;
  }
  footer{
    height: 20px;
    width: 100%;
    margin:60px 0 0px 0;
  }
  footer p{
    color: #7E97A6;
    text-align: center;
  }
  







  
  
@media (max-width:780px){
    .nav-link{
        display: none;

    }
    .hamburger{
        display: inline-block;
        position: relative;
        left:300px;
      
    }
    header a .cta{
        display: none;
    }
    .logo{
      padding:20px 0;
      margin: 0 2px 0 0;
      
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin:0 10px 0 0 ;
    }
    .content-left{
        margin: 20px 4px 0 0;
    }
    .content-left p{
    
        color:#fff;
        width:550px;
        
        
      }
      .content-left h1{
        padding:10px 0;
        
      }
      .content-left h2{
        line-height: 1;
      }
    .content-right{
        margin:20px 80px 0px 360px;
       
        
     
      
    }
    .content-right img{
        width: 600px;
    }
    .abt-heading{
        padding: 0 0 0 290px;  
     }
     .abt-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
     }
     .abt-para{
        width: 450px;
        margin:70px 0 0 290px;
     }
     .abt-content img{
        margin: 70px 0 0 290px;
        width:1124px;
     }
     .services{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
     }
     .services-heading{
        padding: 0 0 0 290px;
     }
     .first-card{
        width: 400px;
        margin: 0 0 30px 270px;
     }
     .first-card img{
        width:400px;
     }
     .second-card{
        width: 400px;
        margin: 0 0 30px 270px;
     }
     .second-card img{
        width:400px;
     }
     .third-card{
        width: 400px;
        margin: 0 0 30px 270px;
     }
     .third-card img{
        width:400px;
     }
     footer{
        position: relative;
        left:150px;
       
     }
    
  
}